<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include('./header.ejs') %> <% if (items.length >= 1) {%>
    <p>Please delete items below before deleting category:</p>
    <ul>
      <% items.forEach(element => { %>
      <li>
        <a href="<%=element.url%>"> <%=element.name%> </a>
      </li>
      <% }); %>
    </ul>
    <%} else { %>
    <p>Confirm deletion</p>
    <form method="post">
      <input
        id="categoryID"
        name="categoryID"
        type="hidden"
        value="<%=category._id%>"
      />
      <button type="submit">Delete</button>
    </form>
    <% } %>
  </body>
</html>
