<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="header">
      <a href="/home">Home</a>
      <a href="/home/category/create">Create new category</a>
      <a href="/home/item/create">Create new item</a>
    </div>
  </body>
</html>
